body{
	background-color: #F7F7F7;
}

.navbar-inverse{
	background-color: #232323;
	border-radius: 0px;
	border-width: 0px;
	height:30px;
	color:white;
	margin-bottom:0px;
	font-size:20px;
}



.title-section{
	background-color: #e44436;
	width:100%;
	padding-left: 20px;
	padding-bottom: 40px;
	padding-top: 40px;

}

.title-div{
	color:white;
	font-size: 40px;
	font-weight: bolder;
	text-align: left;
}

.content-section{
	height:auto;
	background-color: #1a263d;
}

.content-div{
	padding-top: 10px;
	padding-bottom: 10px;
	color:#edb63b;
	font-size: 20px;
	width:70%;
}

.date{
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}

p{
	margin-bottom:20px; 
}

.social{
	background-color:#22b573;
}

.social-div{
	padding-top: 15px;
	padding-bottom: 15px;
	color:white;	
	width:70%;
}